/* .container {
	max-width: 50%;
} */


/* .img {
	width: 530px;
} */

/* .item {
	float: left;
	text-align: center;
	width: 50%;
}	 */

.item {
	column-count: 2;
}

/* .item:after {
	content: "";
	display: table;
	clear: both;
} */

/* .test {
	padding: 0;
}

.test li {
	list-style-type: none;
	padding: 100px, 0;
} */

